/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/


body {
  background-color: #252c38;
  color: white;
}

th {
  background-color: #FF8C00;
}

td {
  background-color: #fe5e27;
}
